<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sample welcome page</title>
</head>
<body>
<h1>Information about this service</h1>
<p>This service has Front-end placed on Github
    <br>
    Please visit: <a th:href="${url_link}" th:text="${url_info}"></a>
</p>
<br>
<br>
<br>
<h2>Thymeleaf and simple math calculations</h2>
First impression of my page</h1>
<!--/*@thymesVar id="variable" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<span th:text="${variable}"></span>
<br>
<!--/*@thymesVar id="one" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<!--/*@thymesVar id="two" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<span th:text="${one} + ' + ' + ${two} + ' = ' + (${one} + ${two})"></span>
<br>
<span th:text="${two} + ' * ' + ${two} + ' = ' + (${two} * ${two})"></span>
<br>
<span th:text="${two} + ' * ' + ${two} + ' + ' + ${two} + ' = ' + (${two} * ${two} + ${two})"></span>
<br>
<span th:text="${two} + ' - ' + ${two} + ' * ' + ${two} + ' = ' + (${two} - ${two} * ${two})"></span>
</body>
</html>
